.homepage {
    display: flex;
    flex-direction: row;
}

.homepage__menu {
    flex: 0.25;
    background-color: #F5E3E0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
}

.homepage__title {
    flex: 0.75;
    background-color: #D282A6;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 75%;
}